     .main-contentWraper {        
            padding: 2rem;
            min-height: 100vh;
            max-width: 50vw; /*  רספונסיבי 50% מרוחב המסך */
            margin-left: auto;
            margin-right: auto;
        }

       

        .main-header {
            margin-bottom: 2rem;
            text-align: center;
        }

        .main-title {
            font-size: 2.5rem;
            font-weight: 800;
            background: linear-gradient(45deg, var(--neon-blue), var(--neon-purple));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-bottom: 0.5rem;
        }

     

        .main-subtitle {
            color: var(--text-secondary);
            font-size: 1.1rem;
        }
